a {
position: absolute;
top:0px;
bottom:0px;
left:0px;
right:0px;
z-index: 10;
}

/*card 1*/
#card1 {


background-image: url("..//image/image1.jpg");
background-size: cover;
}

.card1_type {
font-family: phoreuscherokee, serif;
font-weight: 400;
font-style: normal;
font-size:20pt;
text-align:center;
color:#45441b;
width:50%;
position:absolute;
top: 20%;
left:40%;
right:40%;
}

@media (max-width:500px) {
	.card1_type {
	width:30%;
	position: absolute;
	top:10%;
	}
}


html,body  {
	height:100%;
}
.image1 {
	width:100%;
	
}


@media (max-width: 700px) {

	
}


#card2 {
	background-image: url("..//image/image2.jpg");
	background-size: cover;
	background-position:50% 50%; /*(throw it into  photoshop and center it have healthy white psace on both sides)*/
	}


	.card2_type1 {
	font-family: phoreuscherokee, serif;
	font-weight: 400;
	font-style: normal;
	font-size:20pt;
	text-align:right;
	color:#45441b;
	width:50%;
	position:absolute;
	right:5%;
/*	background-color:rgba(236, 252, 252,0.7);*/
	}

	.card2_type2 {
	font-family: phoreuscherokee, serif;
	font-weight: 400;
	font-style: normal;
	font-size:20pt;
	text-align:left;
	color:#45441b;
	width:50%;
	position:absolute;
	text-align:left;
	bottom:0%;
	left:5%;
	background-color: rgba(243, 242, 238, 0.8);
	}

	@media (max-width: 700px) {
			.card2_type1 {
		position: absolute;
		font-size:20pt;
	}
	}

	@media (max-width: 700px) {
			.card2_type2 {
		position: absolute;
		font-size:40pt;
		background-color: rgba(243, 242, 238, 0.8);
		width:100%;
	}
	}

	@media (max-width: 700px) {
			#card2 {
		background-image: url("..//image/image5.jpg");
		background-size: cover;
	}
	}




	#card3 {
	background-image: url("..//image/image3.jpg");
	background-size: cover;
	}

	@media (max-width: 700px) {
			#card3 {
					background-image: url("..//image/image4.jpg");
					background-size: cover;

				/*background-size:cover;*/
			}

	}


	.card3_type {
	font-family: phoreuscherokee, serif;
	font-weight: 400;
	font-style: normal;
	font-size:20pt;
	text-align:left;
	color:#45441b;
	width:50%;
	position:absolute;
	text-align:left;
	left:10%;
	}

	@media (max-width: 700px) {
			.card2_type2 {
		width:30%;
		position: absolute;
		font-size:15pt;
	}


		@media (max-width: 600px) {
			.card3_type {
		width:40%;
		position: absolute;
		font-size:15pt;
	}